<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.demo.model.SysUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" javaType="java.util.Date"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select id, username,password,role,create_time
        from sys_user
        where id = #{id}
    </select>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select id, username,password,role,create_time
        from sys_user
        where username = #{username}
    </select>
</mapper>
